/* client/src/index.css */

/* 1. 변수 정의 */
:root {
  --bg-body: #f8f9fa;
  --bg-container: #ffffff;
  --text-main: #333333;
  --text-sub: #868e96;
  --border-color: #eee;
  --input-bg: #ffffff; 
  --primary-color: #339af0;
}

/* 2. 다크 모드 변수 */
body.dark-mode {
  --bg-body: #121212;
  --bg-container: #1e1e1e;
  --text-main: #e0e0e0;
  --text-sub: #adb5bd;
  --border-color: #444;
  --input-bg: #2c2c2c;
}

/* 3. 기본 적용 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  /* 변수 적용! */
  background-color: var(--bg-body);
  color: var(--text-main);
  
  line-height: 1.6;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  transition: ease-in-out, background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}